@import controllers.Node
@(sidebar: List[Node.Menu] = Node.sidebar)

<div class="page-sidebar md-shadow-z-2-i navbar-collapse collapse">
	<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
		@for(item <- sidebar){
			@item match {
				case Node.Link(tag, link, image) => {
					<li class="">
						<a href="@link">
							<i class="@image"></i>
							<span class="title">@tag</span>
						</a>
					</li>
				}
				case Node.LinkedLinks(tag, image, links) => {
					<li class="">
						<a href="javascript:;">
							<i class="@image"></i>
							<span class="title">@tag</span>
							<span class="arrow"></span>
						</a>
						<ul class="sub-menu">
							@for(link <- links){
								<li>
									<a href="@link.link"><i class="@image"></i>@link.tag</a>
								</li>
							}
						</ul>
					</li>
				}
			}
		}
	</ul>
</div>

