@import controllers.Node
@(sidebar: List[Node.Menu] = Node.sidebar)

<div class="page-sidebar md-shadow-z-2-i">
	<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
		@for(item <- sidebar){
			@item match {
				case item: Node.Link => {
					<li class="">
						<a href="@item.link">
							<i class="@item.image"></i>
							<span class="title">@item.tag</span>
						</a>
					</li>
				}
				case item: Node.LinkedLinks => {
					<li class="">
						<a href="javascript:;">
							<i class="@item.image"></i>
							<span class="title">@item.tag</span>
							<span class="arrow"></span>
						</a>
						<ul class="sub-menu">
							@for(link <- item.links){
								<li>
									<a href="@link.link"><i class="@link.image"></i>@link.tag</a>
								</li>
							}
						</ul>
					</li>
				}
			}
		}
	</ul>
</div>

