<script type='text/javascript' src='@routes.Assets.at("theme/global/scripts/metronic.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("theme/admin/layout4/scripts/layout.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("theme/admin/layout4/scripts/demo.js")'></script>
<script>
jQuery(document).ready(function() {    
   // initiate layout and plugins
	Metronic.init(); // init metronic core components
	Layout.init(); // init current layout
	Demo.init(); // init demo features
});
</script>