<script type='text/javascript' src='@routes.Assets.at("theme/global/plugins/select2/select2.min.js")'></script>
<!--script type='text/javascript' src='@routes.Assets.at("theme/global/plugins/datatables/media/js/jquery.dataTables.min.js")'></script-->
<script type='text/javascript' src='@routes.Assets.at("theme/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js")'></script>
<script type='text/javascript' src='https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js'></script>
<script type='text/javascript' src='@routes.Assets.at("theme/global/scripts/metronic.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("theme/admin/layout4/scripts/layout.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("theme/admin/pages/scripts/table-managed.js")'></script>
<script>
	jQuery(document).ready(function() {       
	   	Metronic.init();
		Layout.init();
	   	$('#modelTable').DataTable();
	});
</script>