

@main("Study Bug") {
<body>
	<div class="clearfix">
	</div>
	<!-- BEGIN CONTAINER -->
	<div class="page-container">
		@components.header()
		@components.sidebar()
		<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">
			<div class="page-content">
				<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
				<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
								<h4 class="modal-title">Modal title</h4>
							</div>
							<div class="modal-body">
								 Widget settings form goes here
							</div>
							<div class="modal-footer">
								<button type="button" class="btn blue">Save changes</button>
								<button type="button" class="btn default" data-dismiss="modal">Close</button>
							</div>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
				</div>
				<!-- /.modal -->
				<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
				<!-- BEGIN PAGE HEADER-->
				<!-- BEGIN PAGE HEAD -->
				<div class="page-head">
					<!-- BEGIN PAGE TITLE -->
					<div class="page-title">
						<h1>Problem Database <small>problem database</small></h1>
					</div>
					<!-- END PAGE TITLE -->
					<!-- BEGIN PAGE TOOLBAR -->
					<div class="page-toolbar">
						<!-- BEGIN THEME PANEL -->
						<div class="btn-group btn-theme-panel">
							<a href="javascript:;" class="btn dropdown-toggle" data-toggle="dropdown">
							<i class="icon-settings"></i>
							</a>
							<div class="dropdown-menu theme-panel pull-right dropdown-custom hold-on-click">
								<div class="row">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<h3>THEME</h3>
										<ul class="theme-colors">
											<li class="theme-color theme-color-default active" data-theme="default">
												<span class="theme-color-view"></span>
												<span class="theme-color-name">Dark Header</span>
											</li>
											<li class="theme-color theme-color-light" data-theme="light">
												<span class="theme-color-view"></span>
												<span class="theme-color-name">Light Header</span>
											</li>
										</ul>
									</div>
									<div class="col-md-8 col-sm-8 col-xs-12 seperator">
										<h3>LAYOUT</h3>
										<ul class="theme-settings">
											<li>
												 Theme Style
												<select class="layout-style-option form-control input-small input-sm">
													<option value="square" selected="selected">Square corners</option>
													<option value="rounded">Rounded corners</option>
												</select>
											</li>
											<li>
												 Layout
												<select class="layout-option form-control input-small input-sm">
													<option value="fluid" selected="selected">Fluid</option>
													<option value="boxed">Boxed</option>
												</select>
											</li>
											<li>
												 Header
												<select class="page-header-option form-control input-small input-sm">
													<option value="fixed" selected="selected">Fixed</option>
													<option value="default">Default</option>
												</select>
											</li>
											<li>
												 Top Dropdowns
												<select class="page-header-top-dropdown-style-option form-control input-small input-sm">
													<option value="light">Light</option>
													<option value="dark" selected="selected">Dark</option>
												</select>
											</li>
											<li>
												 Sidebar Mode
												<select class="sidebar-option form-control input-small input-sm">
													<option value="fixed">Fixed</option>
													<option value="default" selected="selected">Default</option>
												</select>
											</li>
											<li>
												 Sidebar Menu
												<select class="sidebar-menu-option form-control input-small input-sm">
													<option value="accordion" selected="selected">Accordion</option>
													<option value="hover">Hover</option>
												</select>
											</li>
											<li>
												 Sidebar Position
												<select class="sidebar-pos-option form-control input-small input-sm">
													<option value="left" selected="selected">Left</option>
													<option value="right">Right</option>
												</select>
											</li>
											<li>
												 Footer
												<select class="page-footer-option form-control input-small input-sm">
													<option value="fixed">Fixed</option>
													<option value="default" selected="selected">Default</option>
												</select>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- END THEME PANEL -->
					</div>
					<!-- END PAGE TOOLBAR -->
				</div>
				<!-- END PAGE HEAD -->
				<!-- BEGIN PAGE BREADCRUMB -->
				<ul class="page-breadcrumb breadcrumb">
					<li>
						<a href="index.html">Home</a>
						<i class="fa fa-circle"></i>
					</li>
					<li>
						<a href="#">Problem Database</a>
						<i class="fa fa-circle"></i>
					</li>
					<li>
						<a href="#">Topics</a>
					</li>
				</ul>
				<!-- END PAGE BREADCRUMB -->
				<!-- END PAGE HEADER-->
				<!-- BEGIN PAGE CONTENT-->
				<div class="row">
					<div class="col-md-12">
						<!-- BEGIN EXAMPLE TABLE PORTLET-->
						<div class="portlet box blue-hoki">
							<div class="portlet-title">
								<div class="caption">
									<i class="fa fa-globe"></i>Problems
								</div>
								<div class="tools">
								</div>
							</div>
							<div class="portlet-body">
								<table class="table table-striped table-bordered table-hover" id="sample_1">
								<thead>
								<tr>
									<th>
										 Topic
									</th>
									<th>
										 Subtopics
									</th>
									<th>
										 Difficulty
									</th>
									<th>
										 Contents
									</th>
									<th>
										 Answers
									</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<th>
										 Biology
									</th>
									<th>
										 Cell Replication, Phospholipid Bilayers
									</th>
									<th>
										 5
									</th>
									<th>
										 Biology is gay...
									</th>
									<th>
										 There is no spoon.
									</th>
								</tr>
								</tbody>
								</table>
							</div>
						</div>
						<!-- END EXAMPLE TABLE PORTLET-->
					</div>
				</div>
				<!-- END PAGE CONTENT-->
			</div>
		</div>
		<!-- END CONTENT -->
	</div>
	<!-- END CONTAINER -->
	<!-- BEGIN FOOTER -->
	<div class="page-footer">
		<div class="page-footer-inner">
			 2014 &copy; Metronic by keenthemes. <a href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" title="Purchase Metronic just for 27$ and get lifetime updates for free" target="_blank">Purchase Metronic!</a>
		</div>
		<div class="scroll-to-top">
			<i class="icon-arrow-up"></i>
		</div>
	</div>
}{
	<! Page level styles >
    <link rel='stylesheet' href='@routes.Assets.at("theme/global/plugins/select2/select2.css")' type='text/css'>
    <link rel='stylesheet' href='@routes.Assets.at("theme/global/plugins/datatables/extensions/Scroller/css/dataTables.scroller.min.css")' type='text/css'>
    <link rel='stylesheet' href='@routes.Assets.at("theme/global/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css")' type='text/css'>
    <link rel='stylesheet' href='@routes.Assets.at("theme/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css")' type='text/css'>
}{
	<! Page level plugins>
	<script type='text/javascript' src='@routes.Assets.at("theme/global/plugins/select2/select2.min.js")' ></script>
	<script type='text/javascript' src='@routes.Assets.at("theme/global/plugins/datatables/media/js/jquery.dataTables.min.js")' ></script>
	<script type='text/javascript' src='@routes.Assets.at("theme/global/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.js")'></script>
	<script type='text/javascript' src='@routes.Assets.at("theme/global/plugins/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js")'></script>
	<script type='text/javascript' src='@routes.Assets.at("theme/global/plugins/datatables/extensions/Scroller/js/dataTables.scroller.min.js")'></script>
	<script type='text/javascript' src='@routes.Assets.at("theme/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js")'></script>

	<! Page level scripts >
	<script src='@routes.Assets.at("theme/global/scripts/metronic.js")' type='text/javascript'></script>
	<script src='@routes.Assets.at("theme/admin/layout4/scripts/layout.js")' type='text/javascript'></script>
	<script src='@routes.Assets.at("theme/admin/layout4/scripts/demo.js")' type='text/javascript'></script>
	<script src='@routes.Assets.at("theme/admin/pages/scripts/table-advanced.js")' type='text/javascript'></script>
	<script>
		jQuery(document).ready(function() {       
		   	Metronic.init(); // init metronic core components
			Layout.init(); // init current layout
			Demo.init(); // init demo features
		   	TableAdvanced.init();
		});
	</script>
</body>
}
