@views.html.components.table.javascripts()
<script>
	$(function(){
		var edit = $('.edit');
		var del = $('.del');
		var cancel = $('.cancel');
		var submit = $('.submit');
		var subid = $('#subtopic-id');
		var subcont = $('#subtopic-contents');
		var subhint = $('#subtopic-hint');
		var title = $('.form-title');
		edit.click(function(){
			var id = $(this).attr("data");
			$.ajax({
				type: 'GET',
				url: '/subtopic/' + id,
				success: function(data) {
					subid.val(data.id);
					subcont.val(data.contents);
					subhint.val(data.hint);
					title.text("Subtopic ID: " + data.id);
					submit.text("Update");
				}
			});
		});
		cancel.click(function(){
			subid.val(0);
			subcont.val("");
			subhint.val("");
			title.text("Subtopic");
			submit.text("Submit")
		});
		del.click(function(){
			var id = $(this).attr("data");
			$.ajax({
				type: 'POST',
				url: '/subtopic/delete/' + id,
				success: function(data) {
					$('#row-' + id).remove()
				}
			});
		});
	});
</script>