@import models.problems.{Problem}
@(errMsg: String = "")
<div class="row">
	<div class="col-md-12">
		<div class="tabbable tabbable-custom tabbable-noborder  tabbable-reversed">
			<div class="portlet box green">
				<div class="portlet-title">
					<div class="caption">
						Database
					</div>
					<div class="tools">
						<a href="javascript:;" class="collapse">
						</a>
					</div>
				</div>
				<div id="problem-area" class="portlet-body form">
					<!-- BEGIN FORM-->
					<form class="form-horizontal">
						<input id="problem-id" type="hidden" name="id" value="0">
						<div class="form-body">
							<h3 class="form-section form-title">Problems</h3>
							<h3 class="form-section text-danger">@errMsg</h3>
							<div id="ajax-load">
								<img src='@routes.Assets.at("images/gears.gif")'></img>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Problem Statement</label>
										<div class="col-md-9">
											<textarea id="problem-contents" name="contents" type="text" value="" class="form-control problem-contents" placeholder=""></textarea>
											<span class="help-block">
											This includes text, equations and the problem description.  Pictures will be loaded next to this text.</span>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Topic</label>
										<div class="col-md-9">
											<select id="problem-topic" name="parent" class="problem-topic select2me select2_category form-control" data-placeholder="No Topics">
												<option id="default-parent" value="no topic" selected="selected">No Topic</option>
												@for(topic <- models.problems.Topic.getAll){
													<option value="@topic.contents">@topic.contents</option>
												}
											</select>
										</div>
									</div>
								</div>
							</div>
							<div id="problem-specific">
								<div class="col-md-6">
									<label class="control-label col-md-3">Problem Picture</label>
									<div class="form-group col-md-9">
										<select id="problem-picture" name="picture-select" class="answer picture-selection select2me select2_category form-control" data-placeholder="No Picture" multiple>
											<option value="0" selected="selected">No Picture</option>
										</select>
									</div>
								</div>
								<label class="control-label col-md-2">Difficulty</label>
								<div class="col-md-4">
									<select id="problem-difficulty" class="problem-difficulty selection select2me select2_category form-control" data-placeholder="1" value="1">
										<option value="1" selected="selected">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
									</select>
								</div>
								<div class="row"></div>
								<h3 class="form-section">Answers</h3>
								<div id="add-answer-toggle">
									<button type='button' class='btn blue add-answer'>Add Answer</button>
									<span value='1' class='page-toggle answers on'>1</span>
								</div>
								<div class="answer-section">
									<div class="answer-group">
										<div class="form-group">
												<div class="col-md-6">
													<label class="control-label col-md-3">Contents</label>
													<div class="col-md-6">
														<textarea type="text" value="" class="problem-answer-contents form-control"></textarea>
													</div>
													<div class="col-md-3">
														<div class="checkbox">
															<button value="0" class="btn btn-danger problem-answer-correct" type="button">Incorrect</button>
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<label class="control-label col-md-2">Picture</label>
													<div class="col-md-4">
														<select name="picture-select" class="answer problem-answer-picture picture-selection select2me select2_category form-control" data-placeholder="No Picture" value="">
															<option value="0" selected="selected">No Picture</option>
														</select>
													</div>
													<label class="control-label col-md-2">Closeness</label>
													<div class="col-md-4">
														<select name="closeness" class="problem-answer-closeness selection select2me select2_category form-control" data-placeholder="0" value="0">
															<option value="0" selected="selected">0</option>
															<option value="10">10</option>
															<option value="20">20</option>
															<option value="30">30</option>
															<option value="40">40</option>
															<option value="50">50</option>
															<option value="60">60</option>
															<option value="70">70</option>
															<option value="80">80</option>
															<option value="90">90</option>
														</select>
													</div>
												</div>
										</div>
									</div>
								</div>
								<h3 class="form-section">Solution Steps</h3>
								<div id="add-solution-step-toggle">
									<button type='button' class='btn blue add-solution-step'>Add Solution Step</button>
									<span value='1' class='page-toggle solution-steps on'>1</span>
								</div>
								<div class="solution-section">
									<div class="solution-group">
										<div class="row solution">
											<div class="col-md-6">
												<div class="form-group">
													<label class="control-label col-md-3">Contents</label>
													<div class="col-md-6">
														<textarea type='text' class='form-control problem-solution-contents' solution_id="0" placeholder=""></textarea>
													</div>
													<div class="col-md-3">
														<select name="picture-select" class="problem-solution-subtopic select2me select2_category form-control" data-placeholder="No Subtopic">
															<option value="0" selected="selected">No Subtopic</option>
															@for(subtopic <- models.problems.Subtopic.getAll){
																<option value="@subtopic.id">@subtopic.contents</option>
															}
														</select>
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="control-label col-md-3">Picture</label>
													<div class="col-md-6">
															<select name="picture-select" class="solution problem-solution-picture picture-selection select2me select2_category form-control" data-placeholder="No Picture">
																<option value="0" selected="selected">No Picture</option>
															</select>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--END SOLUTION SECTION -->
								<h3 class="form-section">File Upload</h3>
								<div class="row">
									<div class="col-md-8">
										<div class="form-group">
											<label class="control-label col-md-3">File Dropbox</label>
											<div class="col-md-9">
												<div class="" id="dropzone-wrapper">
													<div class="" id="my-dropzone"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group pic-list">
											<label class="control-label col-md-3">Associated Pictures</label>
											<div class="col-md-9">
												<ul id="pic-list">
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- END FORM BODY -->
						<div class="form-actions">
							<div class="row">
								<div class="col-md-6">
									<div class="row">
										<div class="col-md-offset-3 col-md-9">
											<button id="submit-button" type="button" class="btn green submit">Submit</button>
											<button id="cancel-button" type="button" class="btn red cancel">Cancel</button>
										</div>
									</div>
								</div>
								<div class="col-md-6">
								</div>
							</div>
						</div>
					</form>
					<!-- END FORM-->
				</div>
			</div>
		</div>
	</div>
</div>
@views.html.components.table.core(Problem.toTable)