@views.html.components.table.javascripts()
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/dropzone.js'></script>
<script>
	$(function(){
		var pid = $('#problem-id');
		var subcont = $('#problem-contents');
		var subhint = $('#problem-topic');
		var title = $('.form-title');
		var tbody = $('tbody');
		var update = $('.update');
		var pics = $('#pic-list');
		var numpics = 1;
		var files = [];
		$('.pictures').hide();

	});
</script>


<script>

	$(document).on('click', '.submit', function(){

		var pid = 0;
		var myDropzone = new Dropzone("#my-dropzone", {
			url: '/problem/pictures/' + pid,
			parallelUploads: true,
			paramName: 'pic',
			createImageThumbnails: true,
			thumbnailHeight: 80
		});
		$('.pictures').show();
	});
	
</script>