@import models.problems.{Topic, Subtopic}
@(
topic: Topic = new Topic(0, "", 0),
errMsg: String = "")
<div class="row">
	<div class="col-md-12">
		<div class="tabbable tabbable-custom tabbable-noborder  tabbable-reversed">
			<div class="portlet box green">
				<div class="portlet-title">
					<div class="caption">
						Database
					</div>
					<div class="tools">
						<a href="javascript:;" class="collapse">
						</a>
					</div>
				</div>
				<div class="portlet-body form">
					<!-- BEGIN FORM-->
					<form action="@routes.Problem.topicPost" class="form-horizontal" method="POST">
						<input type="hidden" name="id" value="@topic.id">
						<div class="form-body">
							<h3 class="form-section">Topics@if(topic.id != 0){ - #@topic.id}</h3>
							<h3 class="form-section text-danger">@errMsg</h3>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Topic Name</label>
										<div class="col-md-9">
											<input name="contents" type="text" class="form-control" placeholder="Linear Algebra" value="@topic.contents">
											<span class="help-block">
											Choose a unique topic name </span>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Parent Topic</label>
										<div class="col-md-9">
											<select name="parent" class="select2_category form-control" data-placeholder="No Topics" tabindex="1">
												<option value="0"></option>
												@for(topic <- models.problems.Topic.getAll){
													<option value="@topic.id">@topic.contents</option>
												}
											</select>
										</div>
									</div>
								</div>
								<!--/span-->
							</div>
						</div>
						<div class="form-actions">
							<div class="row">
								<div class="col-md-6">
									<div class="row">
										<div class="col-md-offset-3 col-md-9">
											<!-- Value Mappings: action = insert or delete-->
											<button type="submit" class="btn green">@if(topic.id != 0){Edit}else{Submit}</button>
										</div>
									</div>
								</div>
								<div class="col-md-6">
								</div>
							</div>
						</div>
					</form>
					<!-- END FORM-->
				</div>
			</div>
		</div>
	</div>
</div>
@views.html.components.table.core(Topic.toTable)