<div class="row">
	<div class="col-md-9">
		<div id="button-bar">
			<button type='button' id="back-button" class="btn">Back</button>
			<div id="topic-buttons">
			</div>
			<button type='button' id="solve-button" class="btn">Begin</button>
		</div>
		<div id="problem-statement" class="portlet light">
			<div class="porlet-title">
				<h3 id="problem-title">
					
				</h3>
				<div class="tools">
					<a href="javascript:;" class="collapse" data-original-title title></a>
				</div>
			</div>
			<div value='1' id="problem-id"></div>
			<div id="problem-contents"></div>
			<div id="problem-pictures"></div>
			<div id="problem-answers"></div>
			<div id="problem-solution"></div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="portlet light">
			<ul id="problem-list">
				<li>Problem One</li>
				<li>Problem Two</li>
				<li>Problem Three</li>
			</ul>
		</div>
	</div>
</div>