<div class="row">
	<div class="col-md-9">
		<div id="button-bar" class="portlet light">
			<h3>What would you like to study?</h3>
			<p>Choose a topic to see its subtopics.  When you reach the topic you would like to study, click begin.</p>
			<button type='button' id="back-button" class="btn">Back</button>
			<div id="topic-buttons">
			</div>
			<button type='button' id="solve-button" class="btn">Begin</button>
		</div>
		<div id="problem-statement" class="portlet light">
			<div class="porlet-title">
				<h3 id="problem-title">
					
				</h3>
				<div class="tools">
					<a href="javascript:;" class="collapse" data-original-title title></a>
				</div>
			</div>
			<div value='1' id="problem-id"></div>
			<div id="problem-contents"></div>
			<div id="problem-pictures"></div>
			<div id="problem-answers"></div>
			<div id="problem-solution"></div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="portlet light">
			<h3>Recent Problems</h3>
			<ul id="problem-list">
			</ul>
		</div>
	</div>
</div>