<script>
	$(function(){
		var id = $("#problem-id");
		var contents = $("#problem-contents");
		var pictures = $("#problem-pictures");
		var answers = $("#problem-answers");
		var solution = $("#problem-solution");
		var topicbuttons = $('#topic-buttons');
		var backbutton = $('#back-button');
		var solvebutton = $('#solve-button');
		backbutton.val(0);
		getChildren(backbutton.val());
		var title = $('#problem-title');
		var choices = ['A', 'B', 'C', 'D', 'E', 'F', 'G'];
		var showstep = 0;
		var currentproblem = 0;
		var problems;

		function getChildren(id) {
			$.ajax({
				type: 'POST',
				url: '@routes.Topic.children',
				data: {id: id},
				success: function(data){
					topicbuttons.empty(); // clear previous children
					var length = data.length
					backbutton.val(id);
					for(i = 0; i< length; i += 1){
						topicbuttons.append("<button value='"+data[i].id+"' type='button' class='btn topic-button'>"+data[i].contents+"</button>");
					}
				},
				failure: function(data){
					topicbuttons.empty();
					backbutton.val(id);
				}
			});
		}

		function clear() {
			contents.empty();
			id.val(0);
			pictures.empty();
			answers.empty();
			solution.empty();
		}

		$(document).on('click', '#show-step', function(){
			$('.problem-solution-step').eq(showstep).fadeIn({duration: 1000});
			showstep += 1;
		});

		$(document).on('click', '#back-button', function(){
			var childid = backbutton.val();
			$.ajax({
				type: 'POST',
				url: '@routes.Topic.parent',
				data: {id: childid},
				success: function(data){
					getChildren(data.parent);
				},
				failure: function(data){
					getChildren(0);
				}
			});
		});

		function loadproblem() {
			var data = problems; // change the namespace
			solstep = 0; // retstart sol step count

			id.val(data[currentproblem].id);
			contents.text(data[currentproblem].contents); // problem contents
			// iterate over the problem's pictures
			for(p = 0; p < data[currentproblem].pictures.length; p += 1){
				pictures.append('<img src="'+data[currentproblem].pictures[p].path+'"></img>');
			}
			// iterate over the problem answers
			for(a = 0; a < data[currentproblem].answers.length; a += 1){
				if(a % 2 == 0) answers.append('<br>')
				answers.append('<span class="answer-choice" value="'+data[currentproblem].answers[a].id+'"><span class="answer-button">'+choices[a]+'</span><span class="answer-choice-contents"><img src="'+data[currentproblem].answers[a].picture+'"></img><span>'+data[currentproblem].answers[a].contents+'</span></span></span>');
			}
			// iterate over the problem solution
			for(s = 0; s < data[currentproblem].solution.length; s += 1){
				solution.append('<span class="problem-solution-step">'+data[currentproblem].solution[s].contents+'<img src="'+data[currentproblem].solution[s].picture+'"></img><span>'+data[currentproblem].solution[s].subtopic+'</span></span><br>');
			}
			// set the width to the maximum width of all of the answers
			var answerelements = $('.answer-choice');
			var max = 0
			for(j = 0; j < answerelements.length; j += 1){
				var width = answerelements.eq(j).width();
				if(width > max) max = width;
				console.log(max);
			}
			answerelements.width(max + 20);


			$('.problem-solution-step').fadeOut({duration: 1});
			if(data[currentproblem].solution.length > 0) solution.append('<button style="border-radius: 5px;" id="show-step" class="btn btn-primary" type="button">Next Solution Step</button>');

			MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
			$("img").error(function(){$(this).hide();});
		}

		$(document).on('click', '#solve-button', function(){
			var topicid = backbutton.val();
			$.ajax({
				type: 'POST',
				url: '@routes.Topic.get',
				data: {id: topicid},
				success: function(data) {
					clear();
					$.ajax({
						type: 'POST',
						url: '@routes.Problem.problemsByTopic',
						data: {topic: data.contents},
						success: function(data) {
							problems = data;
							loadproblem();
						}
					});
				}
			});
		});

		$(document).on('click', '.answer-choice', function() {
			var answerid = $(this).val();
			$.ajax({
				type: 'POST',
				url: '@routes.Account.submission',
				data: {id: answerid},
				success: function(data) {
					currentproblem += 1;
					loadproblem();
				}
			});
		});


		$(document).on('click', '.topic-button', function(){
			var topicid = $(this).val();
			getChildren(topicid);
			title.text($(this).text().toUpperCase());
		});



	});
</script>
