@(userForm: Form[models.users.User], msg: String = "")

@import views.html.forms.Custom._

@main("Study Bug") {
<body class="login">
	<div id="study-bug-logo"></div>

	<!-- BEGIN LOGIN -->
	<div class="content">
		<div class="alert alert-danger @if(msg == ""){display-hide}" >
			<button class="close" data-close="alert"></button>
			<span style="margin:15px;">@msg</span>
		</div>

		<!-- BEGIN LOGIN FORM -->
		@helper.form(action = routes.Authentication.loginPost, 'class -> "login-form") {
			<div class="form-title">
				<span class="form-title">Study Bug</span>
				<span class="form-subtitle">Please login.</span>
			</div>

			@helper.inputText(
			userForm("email"),
			'placeholder -> "Email",
			'type -> "email",
			'class -> "form-control placeholder-no-fix")

			@helper.inputText(
			userForm("password"),
			'type -> "password",
			'placeholder -> "Password",
			'class -> "form-control placeholder-no-fix")

			<div class="form-actions">
				<button type="submit" class="btn btn-primary btn-block uppercase">Login</button>
			</div>
			<div class="form-actions">
				<!--div class="pull-left">
					<label class="rememberme check">
					<input type="checkbox" name="remember" value="1"/>Remember me </label>
				</div-->
			</div>
			<div class="create-account">
				<p>
					<a href="javascript:;" id="register-btn">Create an account</a>
				</p>
			</div>
		}
		<!-- END LOGIN FORM -->

		<!-- BEGIN REGISTRATION FORM -->
		@helper.form(action = routes.Authentication.registerPost, 'class -> "register-form") {
			<div class="form-title">
				<span class="form-title">Sign Up</span>
			</div>
			<p class="hint">
				 Enter your details below:
			</p>

			@helper.inputText(
			userForm("email"),
			'placeholder -> "Email",
			'type -> "email",
			'class -> "form-control placeholder-no-fix")

			@helper.inputText(
			userForm("password"),
			'id -> "password-first",
			'type -> "password",
			'placeholder -> "Password",
			'class -> "form-control placeholder-no-fix")

			@helper.inputText(
			userForm("password-second"),
			'type -> "password",
			'placeholder -> "Repeat Password",
			'class -> "form-control placeholder-no-fix")

			<div class="form-actions">
				<button type="button" id="register-back-btn" class="btn btn-default">Back</button>
				<button type="submit" id="register-submit-btn" class="btn btn-primary uppercase pull-right">Submit</button>
			</div>
		}
		<!-- END REGISTRATION FORM -->

	</div>
</body>
}{
	@views.html.pages.login.styles()
}{
	@views.html.pages.login.javascripts()
}